<%
function formatToRupiah(amount) {
    return "Rp " + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
}
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Coffee Shop</h1>
            <nav>
                <div class="auth-buttons">
                    <a href="logout" class="btn">Logout</a>
                </div>
            </nav>
        </div>
    </header>

    <section>
        <div class="container history">
            <h2>Logs</h2>
            <% ordersWithItems.forEach(order => { %>
                <div class="log <% if (order.purchased) {%>resolved<%}%><% if (!order.purchased) {%>pending<%}%>">
                    <h3>Order ID: <%= order._id %></h3>
                    <% if (userMap[order.userId]) { %>
                        <p><%= userMap[order.userId].username %></p>
                    <% } else { %>
                        <p>[deleted user]</p>
                    <% } %>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li><%= item.quantity %> <%= item.itemData.name %> <span style="float: right"><%=formatToRupiah(item.itemData.price)%></span></li>
                        <% }); %>
                    </ul>
                    <h3 style="float: right">Total: <%=formatToRupiah(order.totalPrice)%></h3>
                    <% if (order.purchased) {%>
                        <p>Resolved</p>
                    <%}%>
                    <% if (!order.purchased) {%>
                        <p>Pending</p>
                    <%}%>
                    <p>Created: <%=order.createdAt%></p>
                    <p>Updated: <%=order.updatedAt%></p>
                </div>
            <% }); %>
        </div> 
    </section>
</body>
</html>