<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    http://localhost:3000/markOrderPurchased?orderId=<%= orderId %>
    <section>
        <div class="container history">
            <% ordersWithItems.forEach(order => { %>
                <div>
                    <h2>Order ID: <%= order._id %></h2>
                    <p><%=userMap[order.userId].username%></p>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li><%= item.quantity %> <%= item.itemData.name %>: Rp.<%= item.quantity*item.itemData.price%></li>
                        <% }); %>
                    </ul>
                    <p>Total: Rp.<%=order.totalPrice%></p>
                    <% if (order.purchased) {%>
                        <p>Resolved</p>
                    <%}%>
                    <% if (!order.purchased) {%>
                        <p>Pending</p>
                    <%}%>
                </div>
            <% }); %>
        </div> 
    </section>

    <div>
        <h1>Show this code to a worker to finish your order</h1>
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://localhost:3000/api/markOrderPurchased?orderId=<%= orderId %>">
    </div>
    <div>
        <a href="/api/cancelOrder" id="cancelOrderBtn" class="btn">Cancel Order</a>
        <a href="/" class="btn">Back to Home</a>
    </div>
</body>
</html>

