<%
    function formatToRupiah(amount) {
        return "Rp " + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    }
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- http://localhost:3000/markOrderPurchased?orderId=<%= orderId %> -->
    <section>
        <div class="container card order">
            <% ordersWithItems.forEach(order => { %>
                <div class="container">
                    <div class="centered">
                        <% if (order.purchased) {%>
                            <h2>Order Resolved</h2>
                        <%}%>
                        <% if (!order.purchased) {%>
                            <h2>Order Pending</h2>
                        <%}%>
                    </div>
                    <p><%=userMap[order.userId].username%></p>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li><%= item.quantity %> <%= item.itemData.name %>: <span style="float: right"><%=formatToRupiah(item.quantity*item.itemData.price)%></span></li>
                        <% }); %>
                    </ul>
                    <div style="text-align: right">
                        <h2>Total: <%=formatToRupiah(order.totalPrice)%></h2>

                        <div class="centered">
                            <p>Show this code to a worker to finish your order</p>
                            <img id="qrCode" src="?orderId=<%=order._id%>">
                            <p>Order ID: <%= order._id %></p>   
                        </div>
                        <div class="centered">
                            <a href="/api/cancelOrder" id="cancelOrderBtn" class="btn light-btn">Cancel Order</a>
                            <a href="/" class="btn light-btn">Back to Home</a>
                        </div>
                    </div>
                    
                </div>
            <% }); %>
        </div> 
    </section>
</body>
<script>
    // Get the current URL
    const currentUrl = window.location.href;
    // Remove everything after the domain
    const baseUrl = currentUrl.split('/').slice(0, 3).join('/');
    // Construct the QR code URL with the current URL
    const qrCodeUrl = `https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=${baseUrl}/markOrderPurchased`;
    // Update the src attribute of the img tag with the QR code URL
    const qrCodeImg = document.getElementById('qrCode');
    const endUrl = qrCodeImg.getAttribute("src");
    qrCodeImg.src = qrCodeUrl + endUrl; 
</script>
</html>

