<%
    function formatToRupiah(amount) {
        return "Rp " + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    }
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section>
        <div class="container card order">
            <% ordersWithItems.forEach(order => { %>
                <div class="container">
                    <div class="centered">
                        <h2>Order ID: <%= order._id %></h2>
                    </div>
                    <p><%=userMap[order.userId].username%></p>
                    <ul>
                        <% order.items.forEach(item => { %>
                            <li><%= item.quantity %> <%= item.itemData.name %>: <span style="float: right"><%= formatToRupiah(item.quantity*item.itemData.price)%></span></li>
                        <% }); %>
                    </ul>
                    <div style="text-align: right">
                        <h2>Total: <%=formatToRupiah(order.totalPrice)%></h2>
                    </div>
                </div>
                <div class="centered">
                    <a href="/" class="btn light-btn">Back</a>
                    <% if (order.purchased) {%>
                        <span class="btn disabled-btn">Already Resolved</span>
                    <%}%>
                    <% if (!order.purchased) {%>
                        <a href="/api/resolveOrder?orderId=<%=orderId%>" class="btn light-btn">Confirm Order</a>
                    <%}%>
                </div>
            <% }); %>
        </div> 
    </section>
    
</body>
</html>